@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@600&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 0px 3px 6px #00000029 ;
}

h1 {
    font-size: 30px;
    margin:10px;
}

h2 {
    font-size: 20px;
}

a:hover {
    color: white;
}

.satu, .dua {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.satu {
    padding: 5px;
    width: 100%;
    height: 80px;
    background-color: #ecf0f1;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.dua {
    width: 100%;
    height: 40px;
    background-color: #f1c40f;
}

.dua ul {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.dua ul li a {
    text-decoration: none;
    color: black;
}

.logo, .administration {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
}

.logo p {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.logo span:nth-child(1){
    color: #f39c12;
}

.logo span:nth-child(2){
    color: #27ae60;
}

.logo span:nth-child(3){
    color: #3498db;
}

.administration {
    align-items: center;
}

.administration img {
    width: 30px;
    height: 30px;
}

.menu-toggle {
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
	cursor: pointer;
}

.menu-toggle span {
	display: block;
	width: 28px;
	height: 3px;
	background-color: black;
	border-radius: 3px;
}

/* SIDEBAR HIDDEN */
.sidebar {
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	left: -310px;
	z-index: 99999;
	display: flex;
	flex-direction: column ;
	background-color: #7f8c8d;
	transition: 0.8s;
}

.active {
	left: 0px;
}

.sidebar img {
	width: 50px;
}

.sidebar ul {
	margin-top: 30px;
}

.sidebar ul li a {
	text-decoration: none;
	color: #ecf0f1;
}

.sidebar ul li {
	border-bottom: 1px solid #ecf0f1;
	padding: 5px;
	box-sizing: border-box;
	height: 70px;
	line-height: 70px;
	text-align: center;
}

.sidebar ul li:hover {
	background-color: #2c3e50;
}

.sidebar ul li:active {
	background-color: #1abc9c;
}

.close {
    width: 70%;
    height: 30px;
    background-color: #f1c40f;
    line-height: 30px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}
/* END SIDEBAR HIDDEN */

/* JUMBOTRON */
.jumbotron {
    background: url(img/bg.png);
    height: 500px;
    background-size: cover;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 119px;
}

.jumbotron-image {
    
}

.jumbotron img {
    width: 450px;
}

.des {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    color: #ecf0f1;
}

.des span {
    font-family: 'Pacifico';
}

.des span:nth-child(1){
    color: #f39c12;
}

.des span:nth-child(2){
    color: #27ae60;
}

.des span:nth-child(3){
    color: #3498db;
}

.buttons {
    margin-top: 30px;
}

.buttons button {
    width: 100px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    border: 3px solid white;
    cursor: pointer;
    margin: 10px;
    background-color: #e3b0bf;
    color: #ecf0f1;
}

.buttons button:hover {
    background-color: #f1c40f;
}


/* END JUMBOTRON */

/* FEATURE */
.feature {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin:30px auto;
    background-color: #ecf0f1;
    border-radius: 20px;
    box-shadow: 0px 3px 6px #00000029 ;
    flex-wrap: wrap;
}

.feature-box {
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.icon img {
    height: 50px;
}

.text p {
    opacity: .5;
}
/* END FEATURE */

/* BRAND */
.brand-list {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.brand-list img {
    width: 100px;
}
/* END BRAND */

/* ADOPTION */
.adoption {
    margin-top: 50px;
}

.headliner {
    width: 300px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-bottom: 30px;
}

.line {
    width: 35px;
    height: 3px;
    background-color: #f1c40f;
}

.adoption-images {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.adoption-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
    box-shadow: 0px 3px 6px #00000029 ;
}

.adoption-box img {
    width: 250px;
}

.adoption-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

td {
    padding: 10px;
}

/* END ADOPTION */

/* PRODUK */

.produk {
    background: url(img/bg.png);
    height: auto;
}

.produk-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produk-box {
    background-color: white;
    display: flex;
    width: 200px;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px #00000029 ;
    margin-bottom: 20px;
}

.produk-box button {
    background-color: #85b839;
    margin-top: 20px;
    padding: 5px;
    box-sizing: border-box;
    border: 0px;
    color: white;
}

.produk .headliner {
    padding-top: 20px;
}

.produk h1 {
    color: white;
}

/* END PRODUK */

/* BLOG */
.blog {
    padding-top: 30px;
}

.blog-images {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.blog-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029 ;
}

.blog-box img {
    width: 250px;
}

.blog-box h2 {
    margin: 20px auto;
}

figcaption {
    margin-top: 20px;
    opacity: .5;
    text-align: right;
}

.blog-box a {
    margin-top: 30px;
}
/* END BLOG */

/* FOOTER */
footer {
    width: 100%;
    height: 350px;
    background-color: #f1c40f;
    color: #ecf0f1;
    display: flex;
    justify-content: space-around;
    padding:40px 0;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.identitas img {
    width: 40px;
}

.identitas-satu {
    display: flex;
}

.identitas-satu h1 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.identitas-satu span:nth-child(1){
    color: #f39c12;
}

.identitas-satu span:nth-child(2){
    color: #27ae60;
}

.identitas-satu span:nth-child(3){
    color: #3498db;
}

.identitas {
    width: 400px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.identitas h2 {
    margin-top: 20px;
}

.identitas p {
    margin-top: 30px;
}

.garis {
    margin-top: 15px;
    width: 100%;
    height: 2px;
    background-color: white;
}

.socmed {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.facebook, .instagram, .whatsapp {
    width: 41px;
    height: 41px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 40px;
}
.facebook a, .instagram a, .whatsapp a {
    opacity: 0;
}

.facebook {
    background: url(img/icon/ic_fb.png);
}

.instagram {
    background: url(img/icon/ic_ig.png);
}

.whatsapp {
    background: url(img/icon/wa.png);
}

.service {
    line-height: 30px;
}
/* END FOOTER */

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all .7s ease;
  }
  
  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }

/* RESPONSIVE */

@media screen and (max-width:768px){

    .satu {
        height: auto;
        justify-content: space-around;
    }

    .administration {
        order: 2;
    }

    .search {
        order: 3;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .menu-toggle {
        display:flex;
    }

    .dua ul {
        display: none;
    }

    .jumbotron {
        margin-top: 111px;
    }

    footer {
        height: auto;
    }

    .lokasi {
        order: 3;
        margin-top: 40px;
    }
}

@media screen and (max-width:425px) {
    .search, .administration {
        display: none;
    }

    .jumbotron {
        height: auto;
        margin-top: 92px;
    }

    .jumbotron-image {
        order: 2;
    }

    .jumbotron img {
        width: 400px;
    }

    .des {
        width: 80%;
    }

    .brand-list img {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:375px) {

    .jumbotron {
        margin-top: 95px;
    }

    .jumbotron-image img {
        width: 300px;
    }

    footer {
        height: auto;
        padding: 10px;
    }

    .identitas {
        margin-bottom: 30px;
    }

    .service {
        margin-bottom: 50px;
    }

    .lokasi {
        order: 3;
        padding-bottom: 30px;
    }
}

@media screen and (min-width:769px) {
    .sidebar {
        display: none;
    }
}